* {
  box-sizing: border-box;
}

:root {
  --text-color: #ddd;
  --text-color-h: #bbb;
  --text-color-a: #ff66b3;
  --text-color-a-h: #ff42a1;
  --bgnd-color: #222;
  --bgnd-color-h: #1a1a1a;
  --text-size: 17px;
  --text-height: 1.8;
}

@media screen and (max-width: 800px) {
  :root {
    --text-size: 14px;
    --text-height: 1.6;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bgnd-color);
  font-family: Raleway;
  font-size: var(--text-size);
  line-height: var(--text-height);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

a {
  color: var(--text-color-a);
}

a:visited {
  color: var(--text-color-a);
}

a:hover {
  color: var(--text-color-a-h);
}

main {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.video-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.video-container .video {
  display: block;
  max-width: 500px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #000;
  object-fit: cover;
  object-position: center;
}

.navigation-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-container .selection-value {
  display: block;
}

.navigation-container .picker {
  display: block;
  margin: 0 5%;
  width: 10%;
}

.navigation-container .dropdown-picker {
  appearance: none;
  margin: 0 5%;
  line-height: 1.5;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay.visible {
  display: flex;
}

.overlay  .overlay-video {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
